.view-mode {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  margin-top: 10px;
}

.card-view {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  margin-top: 10px;
  box-sizing: border-box;
  background-color: #fefefe;
}

.list-view {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #fefefe;
}
